.body_base {
    background: #F5EFF2;
}

.border_content {
    border-radius: 25px !important;
    border: 2px solid #708681 !important;
    background-color: #F8F8F8;
    outline-offset: 0px;

}

.login {
    width: 400px;
    background-color: #F8F8F8;
}

.login_but {
    background-color: rgba(46, 164, 79, 1);
    border-radius: 25px;
    width: 100%;
    border-style: none;
    color: #FFF9D1;
    height: 30px;
    font-size: 16px;
    outline: none;
    text-decoration: none;
    user-select: none;
    transition: 0.2s;
}

.login_but:hover {
    background-color: rgba(56, 174, 89, 1);
}

.login_but:active {
    background-color: rgba(36, 154, 69, 1);
}

.login_field {
    border-style: none;
    border-bottom: 1px solid #C4C4C4;
    outline: none;
}

.li_mes {
    list-style-type: none;
    color: red;
}

.content {
    margin-left: 110px;
    margin-right: 110px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}

.about_user {
    min-height: 252px;
    min-width: 252px;
}

.au_text {
    font-size: 18px;

}

.holder {
    position: relative;
    border-radius: 25px !important;
}

.block {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.5);
    display: none;
    border-radius: 25px !important;
}

.holder:hover .block {
    display: block;
}

.block a{
    display: block;
    height: 100%;

}

.block img {
    margin-left: 4%;
    margin-top: 84%;
}

.border_img {
    border-radius: 25px !important;
    border: 2px solid #708681 !important;
    background-color: #708681;


}