.body_base {
    background: #F8F8F8;
}

.border_content {

    border: 1px solid #dee2e6;
    border-top: none !important;
    background-color: #FFFFFF;
    outline-offset: 0px;
    border-radius: 4px;

}

.login {
    width: 400px;
    background-color: #F8F8F8;
}

.login_but {
    background-color: rgba(46, 164, 79, 1);
    border-radius: 25px;
    width: 100%;
    border-style: none;
    color: #FFF9D1;
    height: 30px;
    font-size: 16px;
    outline: none;
    text-decoration: none;
    user-select: none;
    transition: 0.2s;
}

.login_but:hover {
    background-color: rgba(56, 174, 89, 1);
}

.login_but:active {
    background-color: rgba(36, 154, 69, 1);
}

.login_field {
    border-style: none;
    border-bottom: 1px solid #b4b4b4;
    outline: none;
    background-color: #FFFFFF;
}

.li_mes {
    list-style-type: none;
    color: red;
}

.content {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #F8F8F8;
    /*box-shadow: -0.3em -0.3em 10px rgba(122, 122, 122, 0.5);*/
}

.au_text {
    font-size: 18px;

}

.holder {
    position: relative;
    width: 250px;
    height: auto;
}

.block {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
}

.block:active {
    background-color: rgba(255, 255, 255, 0.4);
}

.holder:hover .block {
    display: block;
}

.block a {
    display: block;
    height: 100%;

}

.block i {
    position: absolute;
    bottom: 0%;
    left: 4%;
    margin: 0;
    font-size: 32px;
    color: black;
}

.post_info {
    float: left; /* Выравнивание по левому краю */
    margin: 0px 0px 0px 0; /* Отступы вокруг картинки */
}

.post_m {
    /*padding-left: 35px;*/
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #F8F8F8;
}

.column {
    float: left;
    padding: 25px;
    position: relative;
}

.column_edit {
    float: left;
    width: 60%;
    position: relative;
}

.column_img {
    float: left;
    width: 350px;


}

/* Clear floats after the columns */
/*.row:after {*/
/*    content: "";*/
/*    display: table;*/
/*    clear: both;*/
/*}*/

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
    .column {
        min-width: 250px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 35px;
    }

    .column_img {
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .holder {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .but_pos {
        position: static !important;
    }

    .input_center {
        text-align: center !important;
    }

    .column_edit {
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
    }

    .flex {
        justify-content: center !important;
    }

    .column_img_edit {
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    ._column_img {
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}


.center {
    text-align: center;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.but_pos {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;

}

.content_margin {
    margin-left: 5%;
    margin-right: 5%;
    /*box-shadow: -0.3em 0 10px rgba(122, 122, 122, 0.5);*/
}

.no_dec a {
    text-decoration: none;
}

.link_all_div a {
    display: block; /* Ссылка как блочный элемент */
    text-align: center; /* Выравнивание по центру */
    height: 100%;
}

.open_entry {
    text-decoration: none;
}

.open_entry:active {
    color: red;
}

.click_link {

}

.click_link:active {
    color: #2E3C56;
}

.padding {
    padding-left: 15px;
    padding-right: 15px;
}

.input_center {
    text-align: left;

}

.margin {
    margin-top: 25px;
}

.but_edit {
    width: 170px;
}

.padding_edit {
    padding-top: 15px;

}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.post_user {
    padding-left: 35px;
    padding-right: 35px;
}

.flex_edit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column_img_edit {
    float: left;
    width: 35%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

image{
    image-rendering: -webkit-crisp-edges;
}

.menu-verk {
    border-right: 1px solid #FFFFFF !important;
    margin-right: -1px !important;
}