<div class="approve-box">
    <a class="avatar" href="{{ url_for('avatar', filename=avatar.filename) }}"
       rel="avatars">
        <img src="{{ url_for('avatar', filename=avatar.filename) }}" alt="Аватар"
             width="128px"/>
    </a>
    <p>Пользователь: {{ avatar.user.get_fullname() }}.</p>
    <div class="btn-group" role="group" aria-label="Approve or reject avatar">
        <button type="button" class="approveBtn btn btn-success"
                data-url="{{ url_for('approve_avatar', avatar_id=avatar.id) }}">
            &#9745;
        </button>
        <button type="button" class="approveBtn btn btn-danger"
                data-url="{{ url_for('reject_avatar', avatar_id=avatar.id) }}">
            &#9746;
        </button>
    </div>
</div>
