<div class="approve-box card" style="max-width: 250px">
    <div class="card-body m-auto">
        <div class="m-auto" style="max-width: 128px">
            <a class="avatar" href="{{ url_for('avatar', filename=avatar.filename) }}"
               rel="avatars">
                <img src="{{ url_for('avatar', filename=avatar.filename) }}"
                     alt="Аватар"
                     width="128px"/>
            </a>
        </div>
        <a class="card-title m-auto" href="{{ url_for('profile', user_id=avatar.user.id) }}"
           target="_blank">
            {{ avatar.user.get_fullname() }}
        </a>
    </div>
    <div class="card-footer">
        <div class="btn-group" role="group" aria-label="Approve or reject avatar">
            <button type="button" class="approveBtn btn btn-success"
                    data-url="{{ url_for('approve_avatar', avatar_id=avatar.id) }}">
                <i class="bi bi-x"></i>
            </button>
            <button type="button" class="approveBtn btn btn-danger"
                    data-url="{{ url_for('reject_avatar', avatar_id=avatar.id) }}">
                <i class="bi bi-check"></i>
            </button>
        </div>
    </div>
</div>
