<header id="post-header" >
    <div class="">
    <span class="no_dec">
        <a class="click_link" href="{{ url_for('profile', user_id=post.author.id) }}">
            <img class="post_info" src="{{ url_for('avatar', filename=post.author.get_avatar_name()) }}" width="50">
        </a>
        <a class="ml-3 click_link" href="{{ url_for('profile', user_id=post.author.id) }}">
            {{ post.author.get_fullname() }}
            </a>
        <br>
        <span class="ml-3">{{ post.get_humanized_time() }}</span>
    </span>
    </div>
</header>
