<article class="mb-2 post_m pb-3">
    <header id="post-header" >
    <div class="">
    <span class="no_dec">
        <a class="click_link" href="{{ url_for('profile', user_id=post.author.id) }}">
            <img class="post_info" src="{{ url_for('avatar', filename=post.author.get_avatar_name()) }}" width="50">
        </a>
        <a class="ml-3 click_link" href="{{ url_for('profile', user_id=post.author.id) }}">
            {{ post.author.get_fullname() }}
            </a>
        <br>
        <span class="ml-3">{{ post.get_humanized_time() }}</span>
    </span>
    </div>
</header>
    <div class="mt-3">
        <h2 class="au_text">Аудитория: {{ post.room }},</h2>
        <h2 class="au_text">Занятие: {{ post.lesson }}.</h2>
    </div>
    <a  class="open_entry" href="{{ url_for('post', post_id=post.id) }}">Открыть запись...</a>
</article>
