<!doctype html>
<html lang="ru">
<head>
    {% if title %}
        <title>{{ title }} - Beholder</title>
    {% else %}
        <title>Beholder</title>
    {% endif %}

    {% block styles %}
        <link rel="stylesheet"
              href="{{ url_for('.static', filename='css/bootstrap.css') }}">
    {% endblock %}
</head>
<body>
{% block navbar %}
    <nav class="navbar bg-dark navbar-dark navbar-expand-md">
        <a class="navbar-brand" href="{{ url_for("index") }}">Beholder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Записи</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                {% if current_user.is_anonymous %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("login") }}">Войти</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for('profile', user_id=current_user.id) }}">{{ current_user.get_name() }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("logout") }}">Выйти</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

{% block content %}{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{{ url_for('.static', filename='js/bootstrap.js') }}"></script>
{% endblock %}
</body>
</html>
