<!doctype html>
<html>
    <head>
        {% if title %}
            <title>{{title}} - Beholder</title>
        {% else %}
            <title>Beholder</title>
        {% endif %}
    </head>
    <body>
        <div class="navi_panel">
            <div class='left_side'>
                <a href="{{ url_for("index") }}">Beholder</a>
            </div>
            <div class="rignt_side">
                {% if current_user.is_anonymous %}
                    <a href="{{ url_for("login") }}">Sign in</a>
                {% else %}
                    <a href="{{ url_for("logout") }}">Logout</a>
                    <a href="{{ url_for('profile', user_id=current_user.id) }}">{{ current_user.get_name() }}</a>
                {% endif %}
            </div>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}

    </body>
</html>