{% extends "base.html" %}

{% block content %}
    <h1>{{ user.get_name() }}: Редактирование профиля.</h1>
    <img src="{{ url_for('avatar', filename=user.get_avatar_name()) }}" alt="User avatar" id="avatar">

    <p>Личная информация.</p>
    <form action="" method="POST">
        {{ profile_form.hidden_tag() }}
        <p>
            {{ profile_form.email.label }}<br>
            {{ profile_form.email(size=32) }}<br>
            {% for error in profile_form.email.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ profile_form.firstname.label }}<br>
            {{ profile_form.firstname(size=32) }}<br>
        </p>
        <p>
            {{ profile_form.lastname.label }}<br>
            {{ profile_form.lastname(size=32) }}<br>
        </p>
        <p>
            {{ profile_form.patronymic.label }}<br>
            {{ profile_form.patronymic(size=32) }}<br>
        </p>
        <p><input type="submit" name="{{profile_form.form_name}}" value="Редактировать"></p>
    </form>

    <p>Изменить пароль</p>
    <form action="" method="POST">
        {{password_form.hidden_tag()}}
        <p>
            {{ password_form.old_password.label }}<br>
            {{ password_form.old_password(size=32) }}<br>
            {% for error in password_form.old_password.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ password_form.new_password.label }}<br>
            {{ password_form.new_password(size=32) }}<br>
            {% for error in password_form.new_password.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ password_form.repeated_password.label }}<br>
            {{ password_form.repeated_password(size=32) }}<br>
            {% for error in password_form.repeated_password.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p><input type="submit" name="{{password_form.form_name}}" value="Изменить пароль"></p>
    </form>

    <p>Изменить фото.</p>
    <div>
        <input type="file" id="cropperfile" />
        <div style="width:600px;height:400px;">
            <img src="" id="cropper-img" />
        </div>
        <button id="crop">Done</button>
    </div>
{% endblock %}