{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.4.1/cropper.min.css"
          integrity="sha512-Yq9lAK/eVwL0/wCk3u2f5qtGqqrbm7fXNTjhzqwk8vyLp2UmNt79cGPgWyxyUB//AmCNN1d6od+PA+D+btyWjQ=="
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='hystModal-0.4/dist/hystmodal.min.css') }}">
{% endblock %}

{% block modalWindow %}
    <div class="hystmodal" id="myModal" aria-hidden="true">
        <div class="hystmodal__wrap">
            <div class="hystmodal__window" role="dialog" aria-modal="true">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Изменить фото.</h4>
                    </div>
                    <div class="modal-body" style="display: block; margin: auto">
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="cropperfile"
                                       aria-describedby="inputGroupFileAddon01">
                                <label class="custom-file-label" for="inputGroupFile01">Выберите изображение</label>
                            </div>
                        </div>
                        <div style="width:500px;height:400px;">
                            <img src="" id="cropper-img"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="crop"
                            action="{{ url_for('upload_avatar', user_id=user.id) }}">Загрузить
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="content">
        <h1 class=" mb-5" id="user-name" data-role="{{ user.type }}">{{ user.get_fullname() }}: Редактирование
            профиля.</h1>
        <div class="row padding">
            <div class="column_img_edit">
                <div>
                    <img width="300px" style="background-size: contain"
                         src="{{ url_for('avatar', filename=user.get_avatar_name()) }}" alt="User avatar"
                         id="avatar">
                </div>
                <div style=" width: 300px;" class="btn-group" role="group" aria-label="Basic example">

                    <button type="button" class="mt-2 btn btn-primary" style="" id="new-avatr"
                            data-hystmodal="#myModal">Изменить аватар
                    </button>

                    <button type="button" class="mt-2 btn btn-danger but_pos px-0" style="" id="" data-hystmodal="">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </div>
            <div class="column_edit">

                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link {% if not active %} active {% endif %}" data-toggle="tab" href="#pers_info">Личная
                            информация</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active %} active {% endif %}" data-toggle="tab" href="#pass_edit">Изменить
                            пароль</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade border_content padding_edit padding {% if not active %} show active {% endif %}"
                         id="pers_info">
                        <form action="" method="POST">
                            <div class="flex">
                                {{ profile_form.hidden_tag() }}
                                {% for field in profile_form if field.name != "csrf_token" %}
                                    <div class="mr-4">
                                        <p class="m-0 ">{{ field.label(class = "m-0") }}</p>
                                        <p class="mb-2">
                                            {{ field(class = "input_center login_field", placeholder=field.label.text) }}
                                            {% for error in field.errors %}
                                                <span style="color: red;">{{ error }}</span>
                                            {% endfor %}
                                        </p>
                                    </div>
                                {% endfor %}
                            </div>
                            <p class="mt-3"><input class="btn btn-dark but_edit" type="submit"
                                                   name="{{ profile_form.form_name }}"
                                                   value="Редактировать"></p>
                        </form>
                    </div>
                    <div class="tab-pane fade border_content padding_edit padding {% if active %} show active {% endif %}"
                         id="pass_edit">
                        <form action="" method="POST">
                            <div class="flex">
                                {{ password_form.hidden_tag() }}
                                {% for field in password_form if field.name != "csrf_token" %}
                                    <div class="mr-4">
                                        <p class="m-0">{{ field.label(class = "m-0 ") }}</p>
                                        <p class="mb-2">
                                            {{ field(class = "input_center login_field", placeholder=field.label.text) }}
                                            {% for error in field.errors %}
                                                <span style="color: red;">{{ error }}</span>
                                            {% endfor %}
                                        </p>
                                    </div>
                                {% endfor %}
                            </div>
                            <p class="mt-3"><input class="btn btn-dark but_edit" type="submit"
                                                   name="{{ password_form.form_name }}"
                                                   value="Изменить пароль"></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
            integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"
            integrity="sha512-0bEtK0USNd96MnO4XhH8jhv3nyRF0eK87pJke6pkYf3cM0uDIhNJy9ltuzqgypoIFXw3JSuiy04tVk4AjpZdZw=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.4.1/cropper.min.js"
            integrity="sha512-QQWbg0x9wiAdLwLWfCmsGPq/KvjlrmVWzoB9bLT/JMYmr2kLRCLCvDkhhVWsdI3cjJQ2tFBPQVlGG/cgcC1DAA=="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/cropper.js') }}"></script>
    <script src="{{ url_for('static', filename='hystModal-0.4/dist/hystmodal.min.js') }}"></script>
    <script>
        const myModal = new HystModal({
            linkAttributeName: "data-hystmodal",
            closeOnButton: false
        });
    </script>
{% endblock %}
