{% extends "base.html" %}

{% block content %}
    <div class="content content_margin mb-4">
        <h1 class="mb-4">Уведомления</h1>
        {% if not messages %}
            Уведомлений нет.
        {% else %}
            <div class="flex">
                {% for message in messages %}
                    <div class="toast fade show mr-3 mb-3" role="alert" aria-live="assertive" aria-atomic="true"
                         data-url="{{ url_for('delete_message', message_id=message.id) }}">
                        <div class="toast-header">
                            <strong class="mr-auto">
                                {{ message.header }}
                                {% if message._is_read == 0 %}
                                    <span class="badge badge-success">New</span>
                                {% endif %}
                            </strong>
                            <small>{{ moment(message.timestamp).fromNow() }}</small>
                            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="toast-body">
                            {% with body = message.get_data() %}
                                <div class="d-flex flex-column">
                                    {{ body.message }}
                                    {% if 'link' in body %}
                                        <a href="{{ body.link.url }}">{{ body.link.text }}</a>
                                    {% endif %}
                                </div>
                            {% endwith %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/messages.js') }}"></script>
{% endblock %}