{% extends 'base.html' %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fluidbox@2.0.5/dist/css/fluidbox.min.css"
          integrity="sha256-5oR7lL1eUeRKAkRd76G2tJ1pNrqsKIOmJZrzOIpq8Gc=" crossorigin="anonymous">
{% endblock %}

{% block content %}
    <div class="content mb-2 content_margin">
        <div class="row">
            <div class="col-md-2 mr-0 px-0 border-right">
                <ul class="nav nav-pills flex-column ">
                    <li class="nav-item bg-white border menu-verk rounded-left" style="" >
                        <a class="nav-link active  bg-white text-dark" href="#">Фото</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm border border-left-0 bg-white rounded-right">
                <div class="ml-4 my-4">
                    <h1 class="m-0 mb-5">Модерация фотографий студентов.</h1>

                    {% if not avatars %}
                        <p>Нет непроверенных фотографий.</p>
                    {% else %}
                        {% include "_navigation.html" %}

                        <div class="card-deck">
                            {% for avatar in avatars %}
                                {% include "_avatar.html" %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="application/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"
            integrity="sha512-JZSo0h5TONFYmyLMqp8k4oPhuo6yNk9mHM+FY50aBjpypfofqtEWsAgRDQm94ImLCzSaHeqNvYuD9382CEn2zw=="
            crossorigin="anonymous"></script>
    <script type="application/javascript"
            src="https://cdn.jsdelivr.net/npm/fluidbox@2.0.5/dist/js/jquery.fluidbox.min.js"
            integrity="sha256-AVBLVWwvNE9uzNP36wynCSm3JIIkjvjXsj/Ol30JzGM=" crossorigin="anonymous"></script>
    <script type="application/javascript"
            src="{{ url_for('static', filename='js/moderation/approve_avatar.js') }}"></script>
    <script>
        $('.avatar').fluidbox();
    </script>
{% endblock %}
