{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fluidbox/2.0.5/css/fluidbox.min.css"
          integrity="sha512-1gVXQF5Q9gL1HvHBLK0y3IAWCorLY9EU+JMTsLBlXgWfgf6EIS/8B27R/nUq1joeKz2N7ZHCNnLCjc+PuqDqDA=="
          crossorigin="anonymous"/>
{% endblock %}

{% block content %}
    {% if prev_url or next_url %}
        <nav aria-label="Posts pages">
            <ul class="pagination">
                {% if prev_url %}
                    <li class="page-item">
                        <a class="page-link" href="{{ prev_url }}">Новее</a>
                    </li>
                {% endif %}
                {% if next_url %}
                    <li class="page-item">
                        <a class="page-link" href="{{ next_url }}">Позднее</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}

    {% if not avatars %}
        <p>Нет непроверенных фотографий.</p>
    {% else %}
        {% for avatar in avatars %}
            <div class="approve-box">
                <a class="avatar" href="{{ url_for('avatar', filename=avatar.filename) }}" rel="avatars">
                    <img src="{{ url_for('avatar', filename=avatar.filename) }}" alt="Аватар" width="128px"/>
                </a>
                <p>Пользователь: {{ avatar.user.get_fullname() }}.</p>
                <div class="btn-group" role="group" aria-label="Approve or reject avatar">
                    <button type="button" class="approveBtn btn btn-success"
                            data-url="{{ url_for('approve_avatar', avatar_id=avatar.id) }}">
                        &#9745;
                    </button>
                    <button type="button" class="approveBtn btn btn-danger"
                            data-url="{{ url_for('reject_avatar', avatar_id=avatar.id) }}">
                        &#9746;
                    </button>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"
            integrity="sha512-JZSo0h5TONFYmyLMqp8k4oPhuo6yNk9mHM+FY50aBjpypfofqtEWsAgRDQm94ImLCzSaHeqNvYuD9382CEn2zw=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fluidbox/2.0.5/js/jquery.fluidbox.min.js"
            integrity="sha512-0kQqdmb3fpKtRwrbCZDlmiwuZgDyPAOLDOu/HyAt4py7lAVDXKknqtqS6dFNV8U8JrHZymQxlO9SFPZ2u8dhMw=="
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/approve_avatar.js') }}"></script>
    <script>
        $('.avatar').fluidbox();
    </script>
{% endblock %}
