{% extends 'base.html' %}

{% block content %}
    {% if not avatars %}
        <p>Нет непроверенных фотографий.</p>
    {% else %}
        {% for avatar in avatars %}
            <img src="{{ url_for('avatar', filename=avatar.filename) }}">
            <p>Пользователь: {{ avatar.user.get_fullname() }}.</p>
            <button id="approve">^</button>
            <button id="reject">X</button>
        {% endfor %}
    {% endif %}
    {% if prev_url %}
        <a href="{{ prev_url }}">Новее</a>
    {% endif %}
    {% if next_url %}
        <a href="{{ next_url }}">Старше</a>
    {% endif %}
{% endblock %}
