{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/hystmodal@0.4.4/dist/hystmodal.min.css"
          integrity="sha256-YlRbZigmqdb88tWvxvo2MNM8savNb9UZYyZ8nZcX9qY=" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loader.css') }}">
{% endblock %}

{% block modalWindow %}
    <div class="hystmodal" id="myModal" aria-hidden="true">
        <div class="hystmodal__wrap">
            <div class="hystmodal__window" role="dialog" aria-modal="true">
                <p>Загрузка...</p>
                <div class="loader">Создание новой записи...</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="content content_margin">
        <h1>Создание новой записи.</h1>

        <div class="">
            <form upload_to="{{ url_for('upload_post_image') }}"
                  class="dropzone" action="{{ url_for('secure_post_image') }}">
            </form>
            <form method="POST" id="post-info" class="mt-4">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.room.label(class="ml-1") }} <br>
                    {{ form.room(size=20, class="form-control", placeholder="Г-999") }}
                </p>
                <p>
                    {{ form.lesson.label(class="ml-1") }}<br>
                    {{ form.lesson(size=20, id='lesson', class="form-control", placeholder="Предмет") }}
                </p>
                <p>
                    {{ form.notes.label(class="ml-1") }}<br>
                    {{ form.notes(cols=50, rows=3, class="form-control", placeholder="Доп. информация") }}
                </p>
            </form>
            <button class="btn btn-success btn-lg mt-3" id="create">Создать</button>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/dropbox.js') }}"></script>
    <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/hystmodal@0.4.4/dist/hystmodal.min.js"
            integrity="sha256-J/tLORlSjPV0eY9TJriCBECEVi2/reNXbJS4SbZsm7w=" crossorigin="anonymous"></script>
    <script>
        const myModal = new HystModal({
            linkAttributeName: "data-hystmodal",
            closeOnOverlay: false,
            closeOnEsc: false,
            closeOnButton: false
            // настройки (не обязательно), см. API
        });
    </script>
{% endblock %}