{% extends "base.html" %}

{% block styles %}
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dropzone@5.9.2/dist/min/dropzone.min.css"
          integrity="sha256-n/Cuyrm+v15Nim0mJ2ZrElHlCk8raJs/57WeCsIzDr4=" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/hystmodal@0.4.4/dist/hystmodal.min.css"
          integrity="sha256-YlRbZigmqdb88tWvxvo2MNM8savNb9UZYyZ8nZcX9qY=" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/new_post/loader.css') }}">
{% endblock %}

{% block modalWindow %}
    <div class="hystmodal" id="myModal" aria-hidden="true">
        <div class="hystmodal__wrap">
            <div class="hystmodal__window" role="dialog" aria-modal="true">
                <p>Загрузка...</p>
                <div class="loader">Создание новой записи...</div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <h1>Создание новой записи.</h1>

    <div class="container">
        <form upload_to="{{ url_for('upload_post_image') }}"
              class="dropzone" action="{{ url_for('secure_post_image') }}">
        </form>
        <form method="POST" id="post-info">
            {{ form.hidden_tag() }}
            <p>
                {{ form.room.label }}<br>
                {{ form.room(size=20) }}
            </p>
            <p>
                {{ form.lesson.label }}<br>
                {{ form.lesson(size=20, id='lesson') }}
            </p>
            <p>
                {{ form.notes.label }}<br>
                {{ form.notes(cols=50, rows=4) }}
            </p>
        </form>
        <button id="create">Создать</button>
    </div>

{% endblock %}

{% block scripts %}
    <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/dropzone@5.9.2/dist/min/dropzone.min.js"
            integrity="sha256-3lzOObLg84+1jp/kYCOWwHoz0RX4P0yZAE5PYWWzjJ4=" crossorigin="anonymous"></script>
    <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/hystmodal@0.4.4/dist/hystmodal.min.js"
            integrity="sha256-J/tLORlSjPV0eY9TJriCBECEVi2/reNXbJS4SbZsm7w=" crossorigin="anonymous"></script>

    <script type="application/javascript" src="{{ url_for('static', filename='js/new_post/dropbox.js') }}"></script>
{% endblock %}
