{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/details_table.css') }}">
{% endblock %}

{% block content %}
    {% include '_post_header.html' %}
    <div>
        <h2>Аудитория: {{ post.room }},</h2>
        <h2>Занятие: {{ post.lesson }}.</h2>
        <h2>Заметка: {{ post.notes }}</h2>
    </div>
    <div class="bxslider">
        {% for image in post.get_images() %}
            <div>
                <img src="{{ url_for('static', filename=image.get_path(to_static=True)) }}" id="photo-{{ image.id }}">
            </div>
        {% endfor %}
    </div>
    <details open="">
        <summary>Отмеченные студенты</summary>
        <table>
            <thead>
                <tr align="center">
                    <th>Фото</th>
                    <th>ФИО</th>
                    <th>Точность</th>
                    <th>Подтверждён</th>
                </tr>
            </thead>
            {% for visitor in post.get_visitors() %}
                <tr align="center" user_id="visitor.">
                    <td><img src="{{ url_for('avatar', filename=visitor.student.user.get_avatar_name()) }}" width="50"></td>
                    <td>{{ visitor.student.user.get_fullname() }}</td>
                    <td>{{ visitor.get_distance() }}</td>
                    {% if visitor.lecturer_proved == 0 %}
                        <td>&#9746;</td>
                        {% if current_user.is_can_edit(post) %}
                            <td><button>Подтвердить</button></td>
                        {% endif %}
                    {% else %}
                        <td>&#9745;</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </details>

    <details>
        <summary>Просят отметить</summary>
        <table></table>
    </details>

    <p>Экспортировать запись в Exel</p>

{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            integrity="sha512-+NqPlbbtM1QqiK8ZAo4Yrj2c4lNQoGv8P79DPtKzj++l5jnN39rHA/xsqn8zE9l0uSoxaCdrOgFs6yjyfbBxSg=="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script>
        $(function(){
            $('.bxslider').bxSlider({
                mode: 'fade',
                responsive: true,
                slideWidth: 400
            });
        });
    </script>
{% endblock %}