{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/details_table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/image_slider.css') }}">
{% endblock %}

{% block content %}
    <div class="content content_margin mb-1">
        {% include '_post_header.html' %}
        <div class="d-flex flex-fill mt-1">
            {% if post.room %}
                <p class="pr-3 mb-0">Аудитория: {{ post.room }}</p>
            {% endif %}
            {% if post.lesson %}
                <p class="pr-3 mb-0">{{ post.lesson }}</p>
            {% endif %}
        </div>

        {% if post.notes %}
            <div class="card mt-1 mb-2">
                <div class="card-body">
                    <h4 class="card-title">Заметка</h4>
                    <p class="card-text">
                        {{ post.notes }}
                    </p>
                </div>
            </div>
        {% endif %}

        {% if current_user.is_student() %}
            {% if post.check_student(current_user.get_student().id) %}
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Вы были отмечены!</h4>
                    <p>Вы были отмечены на этом занятии.</p>
                </div>
            {% elif current_user.check_request(post.id) %}
                {# Студент уже отправил запрос - серое окно #}
                <div class="alert alert-secondary" role="alert">
                    <h4 class="alert-heading">Запрос отправлен.</h4>
                    <p>Вы будете отмечены, если ваш запрос будет принят.</p>
                    <button type="button" id="cancel-request" class="request-button btn btn-secondary"
                            data-id="{{ current_user.id }}"
                            data-url="{{ url_for('cancel_request', post_id=post.id) }}" data-action="reload">
                        Отменить запрос.
                    </button>
                </div>
            {% else %}
                {# Студент не был отмечен - красное окно #}
                <div class="alert alert-danger" role="alert">
                    <h4 class="alert-heading">Вы не отмечены.</h4>
                    <p>Вы не отмечены на этом занятии. Вы можете отправить запрос. Вы будете отмечены, если ваш
                        запрос будет принят.</p>
                    <button type="button" id="send-request" class="request-button btn btn-danger"
                            data-id="{{ current_user.id }}"
                            data-url="{{ url_for('take_request', post_id=post.id) }}" data-action="reload">
                        Попросить отметить.
                    </button>
                </div>
            {% endif %}
        {% endif %}

        <!-- Основной блок слайдера -->
        <div class="w-100 rounded bg-dark mt-1 mb-2 p-2">
            <div class="slider bg-dark">
                {% for image in post.get_images() %}
                    <div class="item">
                        <img class="img-fluid" src="{{ url_for('static', filename=image.get_path(to_static=True)) }}"
                             alt="">
                    </div>
                {% endfor %}
                <!-- Кнопки-стрелочки -->
                <a class="previous" onclick="previousSlide()">&#10094;</a>
                <a class="next" onclick="nextSlide()">&#10095;</a>
            </div>
        </div>

        <details open="">
            <summary>Отмеченные студенты</summary>
            {% with visitors = post.get_visitors() %}
                {% if not visitors %}
                    <h2>Нет отмеченных посетителей.</h2>
                {% else %}
                    <h2 id="no-visitors-message" style="display: none;">Нет отмеченных посетителей.</h2>
                    <input type="text" class="table-search form-control pull-right" id="visitors-search"
                           placeholder="Поиск по таблице">
                    <table id="visitors-table" class="searchable-table table table-striped" align="center">
                        <thead>
                        <tr align="center">
                            <th scope="col">Фото</th>
                            <th scope="col" class="sortable">ФИО</th>
                            <th scope="col" class="sortable">Группа</th>
                            <th scope="col" class="sortable">Точность</th>
                            <th scope="col" class="sortable">Подтверждён</th>
                            {% if current_user.is_can_edit(post) %}
                                <th scope="col"></th>
                                <th scope="col"></th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for visitor in visitors %}
                            <tr align="center">
                                <td>
                                    <a href="{{ url_for('profile', user_id=visitor.student.user.id) }}" target="_blank">
                                        <img src="{{ url_for('avatar', filename=visitor.student.user.get_avatar_name()) }}"
                                             width="50">
                                    </a>
                                </td>
                                <td class="fullname">{{ visitor.student.user.get_fullname() }}</td>
                                <td class="fullname">{{ visitor.student.get_group() }}</td>
                                <td>{{ visitor.get_distance() }}</td>
                                {# Пользователь может изменять запись? #}
                                {% if current_user.is_can_edit(post) %}
                                    {# Да #}
                                    <td class="prove-td">
                                        <i class="disapproved-img bi bi-x"
                                           alt=""
                                                {% if visitor.lecturer_proved != 0 %}
                                           style="display: none;"
                                                {% endif %}></i>
                                        <i class="approved-img bi bi-check"
                                                {% if visitor.lecturer_proved == 0 %}
                                           style="display: none;"
                                                {% endif %}>
                                        </i>
                                    </td>
                                    <td>
                                        {# Кнопка подтвердить #}
                                        <button type="button" class="prove-button btn btn-success"
                                                data-id="{{ visitor.student_id }}"
                                                data-url="{{ url_for('approve_journal', journal_id=visitor.id) }}"
                                                data-target=".approved-img"
                                                {% if visitor.lecturer_proved != 0 %}
                                                style="display: none;"
                                                {% endif %}>
                                            <i class="approved-img bi bi-check"></i>
                                        </button>
                                        {# Кнопка отозвать подтверждение #}
                                        <button type="button" class="prove-button btn btn-danger"
                                                data-id="{{ visitor.student_id }}"
                                                data-url="{{ url_for('disapprove_journal', journal_id=visitor.id) }}"
                                                data-target=".disapproved-img"
                                                {% if visitor.lecturer_proved == 0 %}
                                                style="display: none;"
                                                {% endif %}>
                                            <i class="approved-img bi bi-x"></i>
                                        </button>
                                    </td>
                                    <td>
                                        {# Кнопка удаления записи #}
                                        <button type="button" class="delete-journal-button btn btn-danger"
                                                data-url="{{ url_for('delete_journal', journal_id=visitor.id) }}">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </td>
                                {% else %}
                                    {# Пользователь не может редактировать #}
                                    {# Посетитель подтверждён? #}
                                    {% if visitor.lecturer_proved == 0 %}
                                        {# Нет #}
                                        <td class="prove-td">
                                            <i class="bi bi-x"></i>
                                        </td>
                                    {% else %}
                                        {# Да #}
                                        <td class="prove-td">
                                            <i class="bi bi-check"></i>
                                        </td>
                                    {% endif %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            {% endwith %}
        </details>
        {# Просьбы отметить. Видны только тем, кто может редактировать страницу. #}
        {% if current_user.is_can_edit(post) %}
            <details>
                <summary>Просят отметить</summary>
                {% with requests = post.get_requests() %}
                    {% if not requests %}
                        <h2 id="no-request-message">Нет запросов.</h2>
                    {% else %}
                        <h2 id="no-request-message" style="display: none;">Нет запросов.</h2>
                        <input type="text" class="table-search form-control pull-right" id="request-search"
                               placeholder="Поиск по таблице">
                        <div class="btn-group pl-0" role="group" aria-label="Basic example">
                            <button id="accept-selected" type="button" class="btn btn-success">Принять выделенные
                                запросы
                            </button>
                            <button id="cancel-selected" type="button" class="btn btn-danger">Отклонить выделенные
                                запросы
                            </button>
                        </div>
                        <table id="request-table" class="searchable-table table table-striped">
                            <thead>
                            <tr align="center">
                                <th scope="col"><input type="checkbox" id="header-checkbox"/></th>
                                <th scope="col">Фото</th>
                                <th scope="col">ФИО</th>
                                <th scope="col">Группа</th>
                                <th scope="col">Время</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for request in requests %}
                                <tr align="center" class="request-row">
                                    <th scope="row"><input type="checkbox" class="body-checkbox"/></th>
                                    <td>
                                        <a href="{{ url_for('profile', user_id=request.user.id) }}" target="_blank">
                                            <img src="{{ url_for('avatar', filename=request.user.get_avatar_name()) }}"
                                                 width="50">
                                        </a>
                                    </td>
                                    <td class="fullname">{{ request.user.get_fullname() }}</td>
                                    <td class="fullname">{{ request.user.get_student().get_group() }}</td>
                                    <td>{{ moment(request.timestamp).fromNow() }}</td>
                                    <td class="button-td">
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <button type="button" class="request-button accept-button btn btn-success"
                                                    data-id="{{ request.user.id }}"
                                                    data-url="{{ url_for('accept_request', post_id=post.id) }}"
                                                    data-action="delete">
                                                <i class="bi bi-check"></i>
                                            </button>
                                            <button type="button" class="request-button cancel-button btn btn-danger"
                                                    data-id="{{ request.user.id }}"
                                                    data-url="{{ url_for('cancel_request', post_id=post.id) }}"
                                                    data-action="delete">
                                                <i class="bi bi-x"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                {% endwith %}
            </details>
        {% endif %}

        <button id="excel-download" class="btn btn-primary" type="button"
                data-url="{{ url_for('download_excel', post_id=post.id) }}">
            Экспортировать запись в Exel
        </button>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/prove_student.js') }}"></script>
    <script src="{{ url_for('static', filename='js/image_slider.js') }}"></script>
    <script src="{{ url_for('static', filename='js/table.js') }}"></script>
    <script src="{{ url_for('static', filename='js/excel_download.js') }}"></script>
{% endblock %}