{% extends "base.html" %}

{% block content %}
    <div class="content content_margin mb-4">
    <h1 class="m-0 mb-5">{{ user.get_fullname() }}</h1>

    <div class="row border rounded bg-white wx-0" style="max-width: 720px; margin-right: 0; margin-left: 0">
    <div style="max-width: 346px" class="border-right _column_img">
        <div class="column_img p-5">
            <div class="holder ">
                <img src="{{ url_for('avatar', filename=user.get_avatar_name()) }}"
                     alt="User avatar" id="avatar">
                {% if current_user.is_can_edit(user) %}
                    <div class="block">
                    <a href="{{ url_for("edit_profile", user_id=user.id) }}"><i class="bi bi-pencil-square"></i></a>
                {% else %}
                    <div>
                {% endif %}
                </div>
                </div>
            </div>
    </div>
            <div class="column bg-white m-5">
                <h2 class="au_text"> Email:
                    <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                </h2>
                <h2 class="au_text">Роль: {{ user.get_role() }}</h2>
            </div>
    </div>
    <div class="mt-5 mb-4">
        {% if not user.is_student() %}
            <h2 class="m-0">Созданные записи:</h2>
        {% else %}
            <h2 class="m-0">Посещения:</h2>
        {% endif %}
    </div>

    {% if not posts %}
{#        <div class="content_margin mb-2">#}
            <p>Нет записей.</p>
{#        </div>#}
    {% else %}
        <div class="flex">
            {% for post in posts %}
                <div class="">
                    {% include '_post.html' %}
                </div>
            {% endfor %}
        </div>
        <div class="mt-3">
            <a class="btn btn-outline-info btn-block" href="{{ url_for("user_posts", user_id=user.id) }}">Показать
                больше</a>
        </div>

    {% endif %}
</div>

{% endblock %}
