{% extends "base.html" %}

{% block content %}
    <h1>{{ user.get_name() }}</h1>
    <table>
    <tr valign="top">
        <td><img src="{{ url_for('static', filename=user.get_photo_path()) }}" alt="User avatar"></td>
        <td>
            <h2>Email: {{ user.email }}</h2>
            <h2>Role: {{ user.get_role() }}</h2>
        </td>
    </tr>
    </table>
    <hr>
    {% if user.user_type > 1 %}
        <h2>Your posts</h2>
    {% else %}
        <h2>Your visits</h2>
    {% endif %}
    {% if not posts %}
        <p>You don't have any posts yet.</p>
    {% else %}
        {% for post in posts %}
            <p>User: {{post.author.get_name() }} time: {{post.timestamp}}</p>
        {% endfor %}
        <a href="{{ url_for("user_posts", user_id=user.id) }}">Show more posts</a>
    {% endif %}
{% endblock %}